
.wrapper {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    > .message {
        position: relative;
        display: flex;
        flex-flow: column;


        > .content {
            position: relative;
            display: flex;
            flex-flow: row;
            justify-content: stretch;
            align-items: stretch;
            margin: .1em;
            padding: .1em;
        }
    }
}

.onHover {
    opacity: 1;
}