@import '../../theme/theme';

.wrapper {
    position: absolute;
    transition: .5s ease;
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    padding: .5em;
    left: 105%;
    margin: .3em;
    background-color: $background;

    > .message {
        position: relative;
        display: flex;
        flex-flow: column;

        > .content {
            position: relative;
            display: flex;
            flex-flow: row;
            justify-content: stretch;
            align-items: stretch;
            margin: .1em;
            padding: .1em;
        }
    }
}

/*.onHover {
    opacity: 1;
}*/