$background: #e1e2e1;
$pure-black: #000;

$nav-el-bg-hover: #F1F1F1;
$nav-el: #FFF;
$nav: rgba(0, 0, 0, .9);

$curtain-color: rgba(0, 0, 0, .4);
$info-color: #CECECE;

$section-details: rgba(90,83,93, .4);
$banner: rgb(112, 0, 33);

$light: #F44F59;
$primary: #BB0A30;
$dark: #83000A;
