@import "../theme/theme";

.Layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: $main-font; 
    
    > .BodySceleton
    {
        display: flex;
        position: relative;
        flex-flow: row;
        justify-content:flex-start;
        align-items: flex-start;
        width: 80%;
        margin: 58px auto;
    }
}