@import '../theme/theme';


.Bar{

    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    z-index: 2;   
    box-shadow: 3px 3px 10px;     
    > h3 {
        color: $nav-el;
        margin: 0px 5px;
        font-size: 2em;
        text-shadow: 2px 2px $pure-black;
    }
    > #menu {
        position: relative;
        margin: 0px 5px;
    }
}