@import "../theme/theme";

#nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    right: -10px;
    top: 0;
    background-color: $nav;
    overflow-x: hidden;
    transition: .5s;
    box-shadow: -3px 0px 5px 5px $nav;
    z-index: 3;

    .closeBtn {
        position: absolute;
        display: block;
        text-decoration: none;
        color: $nav-el;
        top: 20px;
        left: 45px;
        font-size: 60px;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

        > a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: $nav-el;
            display: block;
            transition: .3s;

            &:hover {
                background: $nav-el-bg-hover;
                color: $background;
            }
        }
        
    }
}